@font-face {
    font-family: 'Switzer-Regular';
    src: url('../assets/fonts/Switzer-Regular.woff2') format('woff2'), url('../assets/fonts/Switzer-Regular.woff') format('woff'), url('../assets/fonts/Switzer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'recoleta';
    src: url("../assets/fonts/Recoleta/recoleta-regulardemo.otf") format("opentype");
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html body {
    color: #ffffff;
    font-family: 'Switzer-Regular';
    background: #162137;
    padding-left: 68.71px;
    padding-right: 68.71px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

body .header {
    width: 100%;
    /* background: transparent; */
    /* height: 116.48px; */
    display: flex;
    margin-top: 47px;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: row;
}

.header span {
    font-weight: 600;
    font-size: 27.63px;
    line-height: 36px;
}

.header .logo {
    display: flex;
    align-items: center;
    padding-right: 6rem;
}

.header .logo #span-1 {
    color: rgba(255, 214, 102, 1);
}

.header .logo #span-2 {
    color: #ffffff;
}



.header .toggle-button {
    
  
    width: 32px;
  height: 32px;
    display: none;
    margin-top: -17px;
    background: transparent;
    position: absolute;
    right: 25px;
    top: 68px;
    outline: none;
    border: none;
    
}

.header .toggle-button:hover{
    background: #121a28; 
}

.header .toggle-button .line{
    background: #c9d3e9;
    width: 18.12px ;
    height: 2px ; 
    margin-bottom: 3px;
}

.header .nav-links ul {
    background: transparent;
}

ul {
    width: auto;
    list-style: none;
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    /* background-color: tomato; */
}

.nav-links a {
    font-family: 'Switzer-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ul .action button {
    width: 117px;
    height: 47px;
    border-radius: 3px;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

ul .action .primary {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

ul .action .secondary {
    background: rgba(255, 214, 102, 1);
    color: rgba(13, 42, 99, 1);
    border: none;
}

#my-nav {
    justify-content: center;
}

.header ul .nav-links {
    position: relative;
    flex-wrap: wrap;
    /* width: 100%; */
}

.dropdown,
.dropdown2,
.dropdown3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: -600%;
    transition: 0.3s;
}

ul li:hover .dropdown,
ul li:hover .dropdown2,
ul li:hover .dropdown3 {
    visibility: visible;
    top: 100%;
}

ul li:hover .dropdown2 {
    visibility: visible;
    left: 0;
}

.action-buttons {
    width: 250px;
    display: flex;
    justify-content: inherit;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}


.box1 {
    display: flex;
    flex-direction: column;
    margin-top: 95px;
    width: 460px;
}

.box1 .caption {
    color: rgba(255, 214, 102, 1);
    font-family: 'recoleta';
    font-style: normal;
    font-weight: bold;
    font-size: 49.8123px;
    line-height: 51px;
    justify-self: flex-start;
    width: 460.33px;
    height: 202.68px
}

.box1 p {
    font-family: 'Switzer-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 17.1766px;
    line-height: 145.5%;
    letter-spacing: 0.06em;
    width: 447.9px;
    height: 49.81px;
}

.box1 .call-to-action {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.box1 .call-to-action button {
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
}

.box1 .call-to-action .primary {
    height: 45px;
    width: 129px;
    background: rgba(255, 214, 102, 1);
    color: #0D2A63;
    font-weight: 600;
    font-size: 13.7413px;
    line-height: 18px;
}

.box1 .call-to-action .secondary {
    margin-left: 39.51px;
    background: transparent;
    color: #ffffff;
}

.sub-caption .mobile{
    display: none;
}

.caption .mobile{
    display: none;
}

.box2 {
    margin-top: 80px;
    margin-left: 50px;
    max-width: 575.42px;
    max-height: 374.45px;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.box2 img {
   width: 100%;
   height: 100%;
    aspect-ratio: 159 / 92;
}
.mobile-secondary{
    display: none;
}
button{
    cursor: pointer;
}


@media screen and (max-width:1028px) {
    html body {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 910px) {

    html body{
        overflow: scroll;
    }
   
    .header .logo img{
        width: 25.7px;
    height: 22.73px;
    }
    .header span{
        font-size: 20.024px;
    }
    .header ul {
        
        display: flex;
        width: 100%;
        text-align: left;
        background: black;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        background-color: rgba(6, 18, 41, 0.438);
    }
    body .header {
        display: flex;
        margin-top: 54px;
        flex-direction: column;
    }
    .header .logo{
        margin-right: auto;
        padding-bottom: 15pxs;
    }
    .menu-content{
        display: none;
    }
    .header .toggle-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .dropdown,
    .dropdown2,
    .dropdown3 {
        top: 0;
        left: 0;
        transition: none;
        visibility: visible;
        position: relative;
        display: none !important;
        z-index: 1;
    }
    .display {
        display: block !important;
            
        
    }

    .dropdown li, .dropdown2 li,
    .dropdown3 li {
        padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid grey;
            width: 100%;
            background: #fff;
            color: #000;
            padding-left: 10px;
    }

    .dropdown2 li{
        background:rgba(255, 214, 102, 1);
    }

     
    
    .header ul .nav-links {
        width: 100%;
        padding: 0.5rem
    }
    .header ul .nav-links a{
        text-align: left;
        width: 100%;
    }

    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .caption .mobile{
        display: inline-block;
    }

    .caption .desktop{
        display: none;
    }

    .sub-caption .mobile{
        display: inline-block;
    }

    .sub-caption .desktop{
        display: none;
    }

    s
    .box1{
        margin-top: 58.61px;
       width: 100%;
        
        align-self: center;
    }

    .box1 .caption{
        font-size: 48px;
    text-align: center;
    width: 100%;
    
    line-height: 36px;
    align-self: center;
    }

    .box1 .sub-caption{
        align-self: center;
        font-size: 14px;
        line-height: 24.37px;
        text-align: center;
        margin-top: 25px;
        width: 100%;
    }
    .box1 .call-to-action .primary {
        height: 45px;
        width: 35%;
        background: rgba(255, 214, 102, 1);
        color: #0D2A63;
        font-weight: 600;
        font-size: 13.7413px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .box1 .call-to-action .secondary{
        display: none;
    }

    .box1 .call-to-action{
        flex-direction: row;
        justify-content: space-around;
    }

    .box1 .call-to-action .mobile-secondary{
        display: inline;
        outline: none;
        background: transparent;
        width: 35%;
        height: 45px;
        border: 1px solid #ffd666;
        color: #ffd666;
    }

    .box2{
        align-self: center;
        margin-top: 8px;
        margin-left: 50px;
        width: 80%;
        height: 377.66px;
        margin-left: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .box2 img{
        aspect-ratio: 159 / 92;
    width: 100%;
    height: 100%;
    }
   
}

@media (max-width: 600px) {
    .main{
        margin-top: 30px;
    }
    .header{
        margin-top: 30px !important;
    }
    .header .toggle-button{
        top: 49px;
    }
    .header .logo img{
        width: 20.7px;
        height: 19.73px;
    }
    .header span{
        font-size: 17.024px;
    }
    .action-buttons {
        height: 140px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    ul .action button {
        border: none;
    }
    ul .signIn {
        width: 100%;
        background: #ffffff;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
    ul .signUp {
        width: 100%;
        display: flex;
        justify-content: center;
        background: rgba(255, 214, 102, 1);
    }
    ul .action .primary {
        background: transparent;
        color: #000;
    }
    ul .action .secondary {
        background: rgba(255, 214, 102, 1);
        color: rgba(13, 42, 99, 1);
        border: none;
    }
    .caption .mobile{
        display: inline-block;
    }

    .caption .desktop{
        display: none;
    }

    .sub-caption .mobile{
        display: inline-block;
    }

    .sub-caption .desktop{
        display: none;
    }

    .box1{
        margin-top: 58.61px;
        width: 325.36px;
        height: 147.83px;
        align-self: center;
    }

    .box1 .caption{
        font-size: 28px;
        text-align: center;
        width: 100%;
        height: 101.18px;
        line-height: 30px
    }

    .box1 .sub-caption{
        font-size: 12px;
        line-height: 20.37px;
        text-align: center;
        margin-top: 15px;
        width: 100%;
    }
    .box1 .call-to-action .primary {
        height: 45px;
        width: 100%;
        background: rgba(255, 214, 102, 1);
        color: #0D2A63;
        font-weight: 600;
        font-size: 13.7413px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .box1 .call-to-action .secondary{
        display: none;
    }

    .box1 .call-to-action{
        flex-direction: column;
    }

    .box1 .call-to-action .mobile-secondary{
        outline: none;
        background: transparent;
        width: 100%;
        height: 45px;
        border: 1px solid #ffd666;
        color: #ffd666;
    }

    .box2{
        align-self: center;
        margin-top: 8px;
    margin-left: 50px;
    width: 323.72px;
    height: 210.66px;
    margin-left: 0;
    
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    }
    
    .box2 img{
        aspect-ratio: 159 / 92;
    width: 100%;
    height: 100%;
    }
}

@media (max-width: 330px){
    body .header{
        margin-top: 15px;
    }
    .header .toggle-button{
        top: 36px;
    }
    .main{
        margin-top: 30px;
    }
    .box2{
        height: 160px;
        width: 100%;
    }
    .box1{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
    }
    .box1 .caption{
        height: auto;
        font-size: 20px;
    }
    .box1 .sub-caption{
        font-size: 8px;
    }
    .caption br{
        display: none;
    }
}